/* No CSS needed, but you can pimp the container and the signs as you wish. */


/* all sign style */
.ratyli .rate{color: #ccc; font-size: 24px;}

/* empty sign style */
.ratyli .rate-empty{color: #666;}

/* full sign style after rating*/
.ratyli.rated .rate-full{color: #aaa;}

/* active signs (hover)*/
.ratyli .rate-active{color: #aaa;}




.demo{float:left; width:18%; padding:30px 1%; text-align:center; cursor:pointer; }
@media screen and (max-width: 920px) {
	.demo{float:none; width:90%; padding:20px 5%;}
}


